---
const { month, og, title, fw, url } = Astro.props;
---

<a
  class="flex-1 no-underline"
  href={url}
  target="_blank"
  rel="nofollow noopener noreferrer"
>
  <article class="flex flex-col gap-4">
    {month && <h4>{month}</h4>}
    <figure class="relative">
      <img
        class="h-[160px] w-full object-cover md:h-[140px]"
        src={og}
        alt={title}
        title={title}
        width="289"
        height="140"
        loading="lazy"
        decoding="async"
      />
      {
        fw && (
          <img
            class="absolute right-4 top-[124px] h-32 w-32 drop-shadow md:top-[104px]"
            src={`/blog/2023-retro/${fw}.svg`}
            alt={fw}
            title={fw}
            width="32"
            height="32"
            loading="lazy"
            decoding="async"
          />
        )
      }
      <figcaption class="mt-4 text-sm">{title}</figcaption>
    </figure>
  </article>
</a>
