---
import BlogCard from "@/components/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import type { AstroInstance } from "astro";

let allPosts: AstroInstance[] = [];
try {
  allPosts = (await Astro.glob("./blog/*.astro")).sort(
    (aPost: any, zPost: any) =>
      +new Date(zPost.frontmatter.date) - +new Date(aPost.frontmatter.date)
  );
} catch (e) {}

const getFileName = (url: string | undefined) => {
  if (!url) return "";
  return url.split("/").at(-1)?.replace(".astro", "");
};
---

<Layout title="Blog" description="">
  <h2 class="mb-16 text-4xl font-bold">Articles</h2>
  {
    allPosts.map(
      ({
        url,
        frontmatter: { title, description, date, headerBackground, headerForeground },
      }: any) => (
        <BlogCard
          href={`/blog/${getFileName(url)}`}
          {title}
          {description}
          {date}
          {headerBackground}
          {headerForeground}
        />
      )
    )
  }

  <link
    data-lazy-font
    href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap"
    rel="stylesheet"
    media="print"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </noscript>
</Layout>
