---
import sanitizeHtml from "sanitize-html";

export interface Props {
  title: string;
  description: string;
  src: string;
  website?: string;
  github?: string;
}

const { title, description, src, website, github } = Astro.props;

const masterUrl = website || github;
const sanitizedTitle = sanitizeHtml(title, {
  allowedTags: [],
  allowedAttributes: {},
})
---

<article class="gap-16 border-l-2 border-l-gray-700 py-8 pl-16 xl:flex">
  <a
    class="order-1 mb-8"
    href={masterUrl}
    target="_blank"
    rel="nofollow noopener noreferrer"
    aria-label={sanitizedTitle}
  >
    <img
      class="inline-block aspect-video h-auto w-full max-w-[400px] rounded-8 object-cover md:max-w-[250px]"
      src={src}
      alt=""
      width="250"
      height="140.625"
      loading="lazy"
      decoding="async"
      title={sanitizedTitle}
    />
  </a>
  <div class="flex-1">
    <h5 class="text-balance font-medium">
      <a
        href={masterUrl}
        target="_blank"
        rel="nofollow noopener noreferrer"
        set:html={title}
      />
    </h5>
    <p class="mb-4 text-sm leading-normal" set:html={description} />
    <footer class="text-xs">
      — {
        website && (
          <a href={website} target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">Go to</span>Website
          </a>
        )
      }
      {website && github && "|"}
      {
        github && (
          <a href={github} target="_blank" rel="nofollow noopener noreferrer">
            <span class="sr-only">Open the repository on</span>GitHub
          </a>
        )
      }
    </footer>
  </div>
</article>
