---
import { SIDE_PROJECTS } from "../data/side-projects";
import SideProjectCard from "../components/SideProjectCard.astro";
---

<section
  id="side-projects"
  class="mb-16 scroll-mt-[--nav-height] md:mb-32 md:scroll-mt-64"
>
  <h2 class="mb-16 text-4xl font-bold">Side Projects</h2>
  {
    SIDE_PROJECTS.map((d) => (
      <SideProjectCard
        title={d.title}
        description={d.description}
        src={d.src}
        website={d.website}
        github={d.github}
      />
    ))
  }
</section>
