---
import "@/styles/blog.css";
import clsx from "clsx";

import AppMainNav from "@/components/AppMainNav.astro";
import BlogHeader from "@/components/BlogHeader";
import BlogSharer from "@/components/BlogSharer";
import Root from "./Root.astro";

export interface Props {
  title: string;
  description?: string;
  ogPath?: string;
  lang?: string;
  date?: string;

  headerTitle: string;
  headerForeground?: string;
  headerBackground?: string;
  fullHeaderFg?: boolean;
  reversed?: boolean;

  class?: string;
}

const {
  title,
  headerTitle,
  description,
  ogPath,
  lang,
  headerForeground,
  headerBackground,
  date,
  fullHeaderFg,
  reversed,
  class: className,
} = Astro.props;

const isThai = lang === "th-TH";
---

<Root title={title} description={description} ogPath={ogPath} lang={lang}>
  <div
    class="sticky top-0 z-10 -mt-16 pointer-events-none flex justify-between p-16 md:fixed md:inset-0 md:left-auto md:mt-0 md:flex-col md:p-32"
  >
    <nav class="flex-1">
      <div class="pointer-events-auto w-max bg-gray-900 text-xs text-gray-400 md:ml-auto md:text-sm">
        main navigation
      </div>
      <AppMainNav />
    </nav>
    <slot name="secondary-nav" />
  </div>

  <main
    class={clsx(
      "blog-content m-auto max-w-[80ch] p-16 leading-[1.7] md:mt-[--nav-height] lg:mt-64",
      isThai && "font-bai-jamjuree",
      className
    )}
  >
    <BlogHeader
      title={headerTitle}
      bgUrl={headerBackground}
      fgUrl={headerForeground}
      {fullHeaderFg}
      {reversed}
    />

    <slot />

    <BlogSharer title={title} date={date} />
  </main>

  <footer class="my-32 max-w-[80ch] px-16 md:mx-auto md:mb-[30svh] md:px-32 xl:mb-[20svh]">
    Copyright &copy; {new Date().getFullYear()} Suthep Chanchuphol <span class="nobr"
      >All right reserved.</span
    >
  </footer>

  {
    isThai && (
      <>
        <link
          data-lazy-font
          href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap"
          rel="stylesheet"
          media="print"
        />
        <noscript>
          <link
            href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap"
            rel="stylesheet"
          />
        </noscript>
      </>
    )
  }
</Root>
