---
import { DESCRIPTION, LANG, OG_PATH, TITLE } from "@/data/defaults";
import "@/styles/base.css";

import AppLenis from "@/components/AppLenis";
import AppLoadFont from "@/components/AppLoadFont";
import AppMouse from "@/components/AppMouse";

export interface Props {
  title?: string;
  description?: string;
  ogPath?: string;
  lang?: string;
}

const {
  title = TITLE,
  description = DESCRIPTION,
  ogPath = OG_PATH,
  lang = LANG,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title} — All about @rootEnginear</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="generator" content={Astro.generator} />
    <meta name="apple-mobile-web-app-title" content="rootEnginear" />
    <meta name="application-name" content="rootEnginear" />
    <meta name="msapplication-TileColor" content="#cc3b3b" />
    <meta name="theme-color" content="#18181b" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc3b3b" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="description" content={description} />

    <!-- OG, FB -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:title" content={`${title} — All about @rootEnginear`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogPath, Astro.site)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="twitter:title" content={`${title} — All about @rootEnginear`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(ogPath, Astro.site)} />
    <meta name="twitter:label1" value="Software Engineer" />
    <meta name="twitter:data1" value="@Softnetics" />
    <meta name="twitter:label2" value="LinkedIn" />
    <meta name="twitter:data2" value="/in/rootEnginear" />
  </head>

  <body>
    <AppLenis />
    <AppLoadFont />
    <AppMouse />

    <slot />

    <noscript>
      <style>
        html {
          scroll-behavior: smooth;
        }
      </style>
    </noscript>
  </body>
</html>
